.title
{
    font-size: 5rem;
    font-weight: 600;
    color:black;
    margin-left: 20px;
    margin-bottom: 25px;
    padding-top: 50px;
    padding-left: 50px;
}
.menu
{
    display: flex;
    margin:0x;
    justify-content: start;

}
.poster
{
    border-radius: 10px;
    margin: 20px;
}
.overview
{
    display:flex;
    color:white;
    font-weight: 500;
    margin:20px;
    font-size: 1.5rem;
}
.genre
{
    color:white;
    margin-left:100px;
    margin-bottom: 25px;

}
button{
    width:100px;
    height: 40px;
    background-color:black;
    margin: 10px;
    border-radius: 50px;
    font-weight: 700;

}
button:hover
{
    opacity: 0.7;
}
.overview
{
    display: block;
}
.info
{
    color:white;
    margin: 20px;
    margin-left: 30px;
    font-size: 1.2rem;
}
.cast-title
{
    color:white;
    font-size: 1.5rem;
    margin: 20px;
    display: flex;
}
.cast-image
{
    width:100px;
    height: 100px;
    border-radius: 50px;
    margin-top:10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul
{
    list-style: none;
    
}
.cast-info
{
    display: flex;
   
}
ul li{
    list-style: none;
    display: flex;
    color: white;
}
.name
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
p{
    font-weight: 600;
}
