
nav{
    background-color:none;
    padding: 10px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 10rem 1fr 10rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin-bottom: 30px;
}

.Title {
    color: white;
    font-size: 1.5em;
}

ul {
    
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

}
li{
    margin: 0;
}


a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
a:hover
{
    opacity: 0.7;
}
.home-icon
{
    width: auto;
    height: auto;
}
.profile ul li {
    list-style: none;
    
}
.home {
    display: flex;
    margin:0;
    justify-content: center;
    align-items: center;
}
.home-icon
{
    display: flex;
    margin-right:10px;
    width:20px;
    height: 20px;
}
.event
{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.event-icon
{
    display: flex;
    margin-right:10px;
    width: 20px;
    height: 20px;
    color: white;
}
.marketplace
{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;

}
.marketplace-icon
{
    display: flex;
    margin-right: 10px;
    width: 20px;
    height: 20px;

}
.profile-main
{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.profile-icon
{
    display: flex;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}
@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }
    .home-icon
{
 margin-left:0 ;
 padding-left: 0;
}
    /* .Title{
        margin: 0;
    }
    .home-menu{
        margin: 0;
        padding: 0;
        align-items:start;
    }
    .event
    {
        padding: 0;
    }
    ul
    {
        display: block;
        margin: 0;
        padding: 0;
        
        
    }
    li
    {
        align-items: flex-start;
        justify-content: center;
    } */
    nav
    {
        display: block;
        margin: 0;
    }
    ul 
    {
        display: block;
    }
    header nav {
        position: fixed;
        top: -100vh;
        left: 100;
        right: 100;
        height: 100%;
        width: 100%;
        /* display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content:space-evenly;
        background-color: var(--mainColor);
         */
        transition: 1.5s;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:space-between ;
        
    }

    header .responsive_nav {
        transform: translateY(100vh);
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav Link {
        font-size: 1.5rem;
    }
}

body {
    background-image: url('F: \web dev practice\styles\EventMint\public\bg.jpg');
}