
nav{
    background-color:none;
    padding: 10px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 10rem 1fr 10rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin-bottom: 30px;
}

.Title {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
}

ul {
    
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

}
li{
    margin: 0;
}


a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
a:hover
{
    opacity: 0.7;
}
.home-icon
{
    width: auto;
    height: auto;
}
.profile ul li {
    list-style: none;
    
}
.home {
    display: flex;
    margin:0;
    justify-content: center;
    align-items: center;
}
.home-icon
{
    display: flex;
    margin-right:10px;
    width:20px;
    height: 20px;
}
.event
{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.event-icon
{
    display: flex;
    margin-right:10px;
    width: 20px;
    height: 20px;
    color: white;
}
.marketplace
{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;

}
.marketplace-icon
{
    display: flex;
    margin-right: 10px;
    width: 20px;
    height: 20px;

}
.profile-main
{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.profile-icon
{
    display: flex;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.6rem;
}
@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }
    .home-icon
{
 margin-left:0 ;
 padding-left: 0;

}
.logo{
    animation: slideAnimation 2s linear reverse;
    animation-delay: 1s;
}

    nav
    {
        display: block;
        margin: 0;
        
    }
    ul
    {
        display: block;
        margin-bottom: 50px;
    }
    header nav {
        position: fixed;
        top: -100vh;
        left: 100;
        right: 100;
        height: 100%;
        width: 30%;
        /* display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content:space-evenly;
        background-color: var(--mainColor);
         */
        transition: 1.5s;
        display: flex;
        flex-direction: column;
        margin-bottom:50px ;
        align-items: flex-start;
        justify-content:space-evenly ;
        background-color:rgba(0, 0, 0, 0.5)
        
        
    }

    header .responsive_nav {
        /* transform: translateY(100vh); */
        transform: translateY(100vh);
        
    }

    nav .nav-close-btn {
        position: absolute;
        top: 0rem;
        right: 0.3rem;
        margin: 0;
    }

    nav Link {
        font-size: 1.5rem;
    }
    .home-menu
    {
        display:flex;
        align-items: flex-start;
        margin-bottom: 50px;
        margin-left: 0;
       animation: slideAnimation 2s linear reverse;
    animation-delay: 1.2s;
    }
    .events-menu
    {
        display:flex;
        align-items: flex-start;
        margin-bottom: 50px;
        margin-left: 0;
        animation: slideAnimation 2s linear reverse;
        animation-delay: 1.5s;
    }
    .marketplace-menu
    {
        display:flex;
        align-items: flex-start;
        margin-bottom: 50px;
        margin-left: 0;
        animation: slideAnimation 2s linear reverse;
        animation-delay: 1.7s;
    }
    .profile
    {
        animation: slideAnimation 2s linear reverse;
        animation-delay: 2.0s;
    }
}

body {
    background-image: url('F: \web dev practice\styles\EventMint\public\bg.jpg');
}
.logo
{
    height: 100px;
    width: 100px;
    margin-bottom: 0;
}
@keyframes slideAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(150%);
    }
}