/* CustomCarousel.css */

.carousel-container {
    position: relative;
    max-width: 900px;
    /* Adjust the width as needed */
    margin: 0 auto;
    /* Center the carousel */
}

.slick-prev,
.slick-next {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    /* Transparent white color */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.slick-dots {
    position: absolute;
    bottom: 10px;
    list-style: none;
    text-align: center;
    padding: 0;
    width: 100%;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    font-size: 12px;
    line-height: 1;
    color: #fff;
    opacity: 0.7;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.slick-dots .slick-active button {
    opacity: 1;
    background-color: #333;
}